@import "~/assets/scss/variables.scss";
@import "~/assets/scss/generalSettings.scss";

#edit-area {
    display: flex;
}
#article-view {
    background: $article-bg-color;
    width: calc(100% - $edit-area-toolbar-width);
    min-height: 50rem;
    margin-bottom: 20rem;

    .editor-content { // Contains ProseMirror, which is the editor
        position: relative;

        // Text styling
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        word-wrap: break-word;
        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 3rem;
            margin: 0px;
            white-space: pre-wrap;
        }
        p {
            margin: 0px;
            font-size: 1.25rem;
        }
        .hljs,
        .code-block {
            margin: 0px;
            padding: $article-code-padding;

            background-color: $article-code-bg-color;
            border-radius: $article-code-border-radius;

            width: fit-content;
            min-width: 20%;
            position: relative;
            word-break: break-all;
            font-size: 0.9rem;
            cursor: text;

            pre {
                margin: 0px;
                font-family: 'Source Code Pro', monospace;
                clear: right;
                code {
                    padding: 0px;
                    margin: 0px;
                    display: block;
                    color: $article-code-text-color;
                }
            }
            select {
                float: right;
            }
            .information-box {
                color: $article-secondary-color;
                pointer-events: none;
                margin: 0px;
                font-size: 0.75rem;
                user-select: none;
                width: fit-content;
                visibility: hidden;
                height: 0px;
            }
            &.has-focus {
                .information-box {
                    visibility: visible;
                    height: auto;
                }
            }
        }
        .ProseMirror  { // The actual editor
            padding: 3rem;
            .is-empty:first-child::before {
                content: attr(data-placeholder);
                float: left;
                color: #ced4da;
                pointer-events: none;
                height: 0;
            }
            &:focus {
                outline: none;
            }
        }
    }
    hr {
        border: $article-hr-thickness solid $article-secondary-color;

        &#title-separator { // HR between title and content
            width: calc(100% - 6rem);
        }
    }
}