@import "~/assets/scss/variables.scss";
@import "~/assets/scss/generalSettings.scss";

#edit-area {
    display: flex;
}
#article-view {
    background: $article-bg-color;
    width: calc(100% - $edit-area-toolbar-width);
    min-height: 50rem;

    .editor-content { // Contains ProseMirror, which is the editor
        position: relative;

        // Text styling
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        word-wrap: break-word;
        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 3rem;
            margin: 0px;
            white-space: pre-wrap;
        }
        p {
            margin: 0px;
            font-size: 1.25rem;
        }
        .ProseMirror  { // The actual editor
            padding: 3rem;
            .is-empty:first-child::before {
                content: attr(data-placeholder);
                float: left;
                color: #ced4da;
                pointer-events: none;
                height: 0;
            }
            &:focus {
                outline: none;
            }
        }
    }
    hr {
        border: $article-hr-thickness solid $article-hr-color;

        &#title-separator { // HR between title and content
            width: calc(100% - 6rem);
        }
    }
}
#edit-toolbar {
    width: $edit-area-toolbar-width;
    height: fit-content;
    position: relative;
    .toolbar-button img {
        filter: brightness(0)
    }
}