// Miscellaneous
$universal-background-color: #EBEBEB;
$highlight-color-primary: #3fade0;
$highlight-color-secondary: #3690cc;

// Titlebar
$titlebar-bg-color: #FFF;
$titlebar-font-size: 1rem;
$titlebar-thickness: 4rem;
// Titlebar buttons
$titlebar-button-border: 1px solid #888;
$titlebar-button-horizontal-padding: 2rem;
// Profile
$titlebar-profile-border-color: #DDD;
$titlebar-profile-bg-hover: #EEE;

// Z-Indices
$z-index-titlebar: 50;
$z-index-titlebar-shadow: 49;

// Discover page
$preview-margin: 0.5rem;
$preview-padding: 1rem;
$preview-width: 100%;
$preview-height: 10rem;
$preview-hover-size-factor: 1.005;
$preview-image-width: 15%;
$preview-author-height: 2rem;

// Article view
$article-bg-color: #F5F5F5;
$edit-area-toolbar-width: 4rem;
$toolbar-button-color: #F5F5F5;
$toolbar-button-color-hover: #e7e7e7;
// Article styling
$article-primary-color: black;
$article-secondary-color: #acb3bb;
$article-hr-thickness: 1px;

$article-code-bg-color: #EEEEEE;
$article-code-padding: 1rem;
$article-code-border-radius: 1rem;
$article-code-text-color: black;

// Border-radii
$border-radius-large: 10px;
$border-radius-small: 5px;

// Horizontal button bar
$buttonbar-bg-color: #000055;
$buttonbar-highlight-color: #3333BB;

// Modal
$modal-background-color: #e6e6e6;
$modal-overlay-color: #000000AA;
$modal-padding: 2rem;
$modal-element-margin: 0.5rem;
$modal-input-height: 3.5rem;
$modal-border-radius: 1rem;
$modal-button-default-bg: #FFF;
$modal-button-default-hover: #EEE;
$modal-button-default-border: #DDD;
$modal-button-confirm-bg: #00b6ee;
$modal-button-confirm-hover: #02a3d5;
$modal-button-confirm-border: #0486c2;
$modal-button-danger-bg: #FF0000;
$modal-button-danger-hover: #db0606;

// Profile page
$profile-large-height: 10rem;

// Vertical navbar
$v-navbar-button-bg: white;
$v-navbar-button-bg-hover: #DDD;
$v-navbar-button-radius: 2rem;