// Miscellaneous
$universal-background-color: #EBEBEB;
$highlight-color-primary: #3fade0;
$highlight-color-secondary: #3690cc;

// Titlebar
$titlebar-bg-color: #FFF;
$titlebar-font-size: 1rem;
$titlebar-thickness: 4rem;
// Titlebar buttons
$titlebar-button-border: 1px solid #888888;
$titlebar-button-horizontal-padding: 2rem;

// Z-Indices
$z-index-titlebar: 50;
$z-index-titlebar-shadow: 49;

// Discover page
$preview-margin: 0.5rem;
$preview-padding: 1rem;
$preview-width: 100%;
$preview-height: 10rem;
$preview-hover-size-factor: 1.005;
$preview-image-width: 15%;
$preview-author-height: 2rem;

// Article view
$article-bg-color: #F5F5F5;
$edit-area-toolbar-width: 4rem;
$toolbar-button-color: #F5F5F5;
$toolbar-button-color-hover: #e7e7e7;
// Article styling
$article-primary-color: black;
$article-secondary-color: #acb3bb;
$article-hr-thickness: 1px;

$article-code-bg-color: #EEEEEE;
$article-code-padding: 1rem;
$article-code-border-radius: 1rem;
$article-code-text-color: black;

// Border-radii
$border-radius-large: 10px;
$border-radus-small: 5px;

// Horizontal button bar
$buttonbar-bg-color: #000055;
$buttonbar-highlight-color: #3333BB;